/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug {
    /* display: none; */
    border: 1px dashed #000000; 
}

.inl {
    display: inline;
}

.inl-bl {
    display: inline-block;
}


/**************** 
    HEADER
****************/

header {
    background-image:url(../img/wall.png);
    background-size: 30%;
    background-repeat: repeat;
    padding: 30px;
    border-bottom: 0px solid;
    box-shadow: 3 4px 5px rgba(180, 180, 180, 0.2);
}


h1 {
    text-align: center;
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 4rem;
}